*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  display: flex;
  position: relative;
  flex-direction: column; 
  font-family: 'Roboto', sans-serif;
}

.middle-body{
  min-height: 83.3vh;
}

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background: #a4b1b0;
}

#chat {
  display: none;
}

#chat:checked~
.chat-container{
  opacity: 1
}

.chat-btn {
  position: fixed;
  right: 20px;
  bottom: 50px;
  z-index: 1;
  cursor: pointer
}

.chat-btn {
  width: 40px;
  height: 40px;
  font-size: 14px;
  border: none;
  border-radius: 10px;
  color: #fff;
  background-color: rgb(36, 36, 36);
}

.chat-container {
  width: 300px;
  max-height: 400px;
  position: fixed;
  right: 20px;
  bottom: 100px;
  z-index: 1;
  border-radius: 5px;
  opacity: 0;
  transition: all 0.4s;
  background-color: rgb(36, 36, 36);
}

.message-box{
  width: 282px;
  max-height: 200px;
  padding: 10px;
  overflow: scroll;
  background-color: rgb(235, 235, 235);
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

#footer{
  flex: 1;
  text-align: center;
}


