  
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -msbox-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 9px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #a4b1b0;
}

.App{
  display: flex;
  min-height: 93.1vh;
  flex-direction: column; 
}

.content { 
  flex: 1; 
}

.footer {   
  flex-shrink: 0; 
  height: 50px;
  text-align: center;
}

.card-image {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.card:hover{
  cursor: pointer;
  box-shadow: 1px 5px 20px #888888;
}

.item-detail-img{
  width: 100%;
  height: 21vw;
  object-fit: cover;
}